.movieDetails-container
{
    /* background-color: brown; */
}

.movie-card
{

    display: flex;
    /* justify-content: start; */
  
    color: white;
    background-color: rgb(21, 22, 22);
    width: 100%;
    height: 100%;
}


.movie-card > *
{
    /* background-color: rgba(65, 65, 37, 0.344); */
    margin: 20px min(50px,5%);
}

.movieDetail-poster {
    
    /* height: min(100%,700px);
    width: min(100%, 300px) ; */

    height: 100%;
    width: 300px;
}

.movieDetail-poster img{

    height:100% ;
    width: 100%;
}

.movieDetail-details{   
    font-size: min(2vh,24px);

}

/* movie Nmae */
.movieDetail-details h5{

   
    font-size: min(2.5vh,24px);
   font-weight: 300;
}

/* right side containg name , rating gerner etc */
.movieDetail-details > *{
    
    text-align: start;
    margin: 10% 0;
}

.book-btn{
    outline: none;

    border: 2px rgb(123, 123, 255) solid;
    border-radius: 10px;

    padding: min(4vw , 10px) ;
    margin: 0;
 

    background-color: rgb(61, 61, 61);
    color: white;

    font-family: cursive;
    font-size: min(16px,3.8vw);
    
    cursor: pointer;
    
}


.book-btn:hover{

    background-color: rgba(0, 255, 42, 0.575);
    color: white;
    cursor: pointer;
   
}



/* headings for contents eg cast , movieOverview */
.section-heading{ 

    
    margin: 10px 0;
    letter-spacing: 2px;
    font-weight: 400;
}




/* Movie Overview Section--------------------------------------------- */

.movieSubDetails-container{

   margin: 30px 15% 0 5%;
   color: white;
   text-align: start;
   /* background-color: rgb(26, 24, 26); */
}

.movieSubDetails-container > *{

    margin-top: 50px;
  
 }

.movieOverview-container p{

    word-spacing: 4px;
    letter-spacing: 1px;
    margin-left:10%;
    font-weight: 100;
    font-size: 15px;
    color: rgb(192, 192, 192);
}

/* Movie Overview Section ends--------------------------------------------- */




/*Casts info Section--------------------------------------------- */

.cast-info > *{  /*inside MovieSubDetails componenat */

    text-align: center;
    margin: 5px 0;
    
}

.cast-info{
    width: 100px;
}

 .cast-info img{ 

    
    border-radius: 30%;
    width: 90px;
    height: 90px;
    margin: auto;
    border: 2px solid rgb(220, 202, 202);
}

/* actor name */
.cast-info h5{ 

    font-weight: 400;
    
}

.cast-info p{ 

    font-size: 12px;
    color: rgb(170, 155, 151);
}

/* actor InMoviename */
.cast-info h6{ 

    font-size: 12px;
    font-weight: 300;
    color: rgb(179, 172, 170);

}

/*Casts info Section ends --------------------------------------------- */



.crew-Slider-container{

    display: flex;
    flex-direction: row;
    background-color: aqua;

}



/*Trailer Section--------------------------------------------- */

.trailerAndClips-card{

   margin: 0 5px;
    /* background-color: tomato; */

}

.trailerAndClips-card iframe{

    width: min(60vw,250px);
    border: 3px rgb(73, 66, 66) solid;
    border-radius: 25px;

}

.trailerAndClips-card h5{

    font-weight: 500;
   font-family: 'roboto';

}
/*Trailer Section ends--------------------------------------------- */



/*Review Section--------------------------------------------- */

.review-card{

    margin: 0 5px;
    background-color: rgb(67, 61, 60);
    padding: 20px 10px;
    width: min(80vw 280px);
    height: max-content;

    border-radius: 10px;
   
 }

.review-date{

    display: flex;
    justify-content: end;
    
    font-size:12px ;
    color: rgba(158, 146, 146, 0.768);

   

}
 
.review-card > *{

    margin: 10px 0;
}

.review-user{
        
    display: flex;
    /* justify-content: start; */
    align-items: center;
        
}


/* isers dp on review card */
.review-user img{
 
     width: 50px;
     border: 3px rgb(73, 66, 66) solid;
     border-radius: 50%;
  
   }

/* user's  Name on review card*/
.review-user p{
    
    font-size:17px ;
    font-weight: 100;
    margin-left: 15px;

}

.review-rating ,.review{

    margin-left: 15px;

}

.review{

    line-height: 22px;
    font-weight: 300;
    color: rgb(194, 194, 194);


}


 /*Review Section ends--------------------------------------------- */