
.theater-container{

    align-items: center;
    /* background-color: burlywood; */
    
}

.seat-info{
    flex-direction: column;
    font-size: 14px;
    color: rgb(143, 140, 140);
}

.seats-container{

    /* background-color: cadetblue; */
   
 
    overflow-x: auto;


}

.row ,.seat-info,.seat-info >div{
    display: flex;
    gap: 7px;
    margin: 10px 0;
   

    /* background-color: brown; */ 
    
}



@media only screen and (min-width: 768px) {
    
    .row{
         justify-content: center;
    }

    .seat-info{
        flex-direction: row;    
    }
}

.row-name{

    
    min-width: 20px;
    min-height: 20px;
    color: rgba(128, 128, 128, 0.33);
}

.notbooked,.booked,.empty,.selected-seat {

    
    /* width: 15px;
    height: 15px; */

    width: 20px;
    height: 20px;

    min-width: 15px;
    min-height: 15px;
    text-align: center;
    border-radius: 2px;
    font-size: 10px;
    color: rgb(172, 171, 171);
}


.notbooked{

    background-color: rgba(79, 79, 79, 0.857);
   
   
    cursor: pointer;
}

.empty{

    /* background-color: rgba(0, 0, 0, 0.213); */
    background-color: none;
}

.booked{
    background-color: rgb(214, 147, 0);
    color: black;
   
    pointer-events: none;
     /* cursor: not-allowed; */
}

.selected-seat{

    background-color: rgba(213, 119, 68, 0.857);
    cursor: pointer;
}

.seats-section{

    margin: 10px 0;
    color: gray;
    /* background-color: chocolate; */
}

.show-screen{

    margin-top: 30px;
     font-size: 14px;
    text-align: center;
  
}

.screen{

    margin: 5px auto;
    width: 250px;
    height: 5px;

    background-color: turquoise;
   
    
    border-radius: 5px;
    
    box-shadow: 0 -12px 20px  rgb(84, 141, 155);


}

.total-price{

    color: white;
    margin-top: 40px;

    
    background-color: rgba(213, 119, 68, 0.857);
    border-radius: 10px;
    padding: 5px;
    letter-spacing: 1px;


    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

